{#
   Commerce Filters

   @type {include}
#}

{# 
   List available category groups
#}
<nav class="left-nav">
   <div class="left-nav__categories">
      <a href="#" class="block font-bold">Lifestyle</a>
      <a href="#" class="block font-bold">Running</a>
      <a href="#" class="block font-bold">Basketball</a>
      <a href="#" class="block font-bold">Football</a>
   </div>
</nav>

{# 
   List generic filter options
#}
<nav class="left-nav mt-5">
   <div class="left-nav__title py-2 border-t border-gray-400">Shop by Price</div>
   <div class="left-nav__filters">
      <button class="filter-item__item block" aria-label="Filter for X">
         <input type="checkbox" />
         <span class="filter-item__item-label">Up to £50</span>
      </button>
      <button class="filter-item__item block" aria-label="Filter for X">
         <input type="checkbox" />
         <span class="filter-item__item-label">£50 - £100</span>
      </button>
      <button class="filter-item__item block" aria-label="Filter for X">
         <input type="checkbox" />
         <span class="filter-item__item-label">£100 - £200</span>
      </button>
   </div>
</nav>

{# 
   List available variant groups
#}
<nav class="left-nav mt-5">
   <div class="left-nav__title py-2 border-t border-gray-400">Shop by XX</div>
   <div class="left-nav__filters">
      <button class="filter-item__item block" aria-label="Filter for X">
         <input type="checkbox" />
         <span class="filter-item__item-label">Variant Option</span>
      </button>
   </div>
</nav>