{#
   Product Grid
   @param {string/object} products
   @param {string} grid

   @type {include}
#}

{%- minify -%}
  <div class="products grid gap-3 gap-y-9 grid-cols-1 sm:grid-cols-2 md:{{ grid }}">
    {% for product in products %}
      {% include '_commerce/_components/productCard' %}
    {% endfor %}
  </div>
{%- endminify -%}